.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 200px;
  padding: 0px 20px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 20px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.res-card-content {
  padding: 0 15px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.filter-btn {
  margin: 10px;
  /* padding: 5px; */
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.login {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}
